 @import url('https://fonts.googleapis.com/css?family=Fira+Sans|Raleway');

$background-color: rgba($color: LightSlateGray, $alpha: .2);
$text: 'Raleway';
$header: 'Fira Sans';

%center {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  background: $background-color;
}

.btn {
  color: White;
  padding: .5rem 1rem;
  margin: .25rem;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $header;
  border-radius: 3px;

  &.blue {
    background: DodgerBlue;
  }
  &.red {
    background: Crimson;
  }
  &.green {
    background: LimeGreen;
  }
}
